=render "title", name: 'Galería de Imágenes'
- count = 0
- @pictures.each do |picture|
  - count=count+1
  = link_to image_tag(picture.avatar.url(:medium)),"http://localhost:3000"+picture.avatar.url(:original), data: {toggle: 'lightbox', gallery: 'multiimages', type:'image'}, id:  'picnum_'+count.to_s

-# :footer => content_tag(:button, 'Save', :class => 'btn') 